
*.pydevproject
Log4j/.project
Log4j/.metadata
Log4j/.bin/
Log4j/.tmp/
Log4j/.target/
Log4j/.*.tmp
Log4j/.*.bak
Log4j/.*.swp
Log4j/.*~.nib
Log4j/.local.properties
Log4j/..classpath
Log4j/..settings/
Log4j/..loadpath

# External tool builders
Log4j/..externalToolBuilders/

# Locally stored "Eclipse launch configurations"
Log4j/*.launch

# CDT-specific
Log4j/.cproject

# PDT-specific
Log4j/..buildpath

